* {
    padding: 0;
    margin: 0;
}
html {
    background: #efeadd
}
.tree-controller {
    margin: 50px 100px;
}
button {
    background: #eaeaea;
    border: 1px solid gray;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 5px;
    margin-bottom: 10px;
    height: 30px;
    width: 100px;
}
button:hover {
    background: #ffffff;
    box-shadow: 0 0 4px #eaeaea inset;
}
button:active {
    background: #eeeeee;
}
ul {
    list-style: none;
    margin-left: 20px;
}
li {
    margin-top: 7px;
}
.tree-controller > ul {
    margin-left: 0;
    margin-top: 13px;
}
.tree-controller > ul > li:first-child > .add {
    border-radius: 0 3px 3px 0;
}
.name, .add, .remove {
    background: #fff;
    padding: 2px 7px;
}
.name {
    border-width: 1px 0 1px 1px;
    border-color: #333;
    border-style: solid;
    border-radius: 3px 0 0 3px;
}
.add {
    border: 1px solid #333;
}
.remove {
    border-width: 1px 1px 1px 0;
    border-color: #333;
    border-style: solid;
    border-radius: 0 3px 3px 0;
}
.add, .remove {
    cursor: pointer;
    font-weight: bold;
}
.add:hover,
.remove:hover {
    background: #333;
    box-shadow: 0 0 4px #fff inset;
    color: #eee;    
}
.jasmine_html-reporter {
    border-top: 1px solid #007069;  
}
